@model foraneoApp.Models.Category;

@{
ViewData["Title"] = "Edit Category";
}
<br/>
<br/>
<h3 class="text-center">Edit Category</h3>
<form method="POST" asp-action="Edit">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="categoryId"/>
        <div class="col-10 mt-4 mx-auto">
            <div class="form-group row ">
                <div class="col-4">
                    <label class="col-form-label">
                        <label asp-for="categoryName"></label>
                    </label>
                </div>
                <div class="col-8">
                    <input asp-for="categoryName" class="form-control"/>
                    <span asp-validation-for="categoryName" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="form-group row ">
                <div class="col-4">
                    <label class="col-form-label">
                        <label asp-for="Order"></label>
                    </label>
                </div>
                <div class="col-8">
                    <input asp-for="Order" class="form-control"/>
                    <span asp-validation-for="Order" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="row mb-4" >
                <div class="col">
                    <button type="submit" class="btn btn-primary form-control">Save Category</button>
                </div>
                &nbsp;
                <div class="col">
                    <a asp-action="Index" class="btn btn-success form-control">Back</a>
                </div>
            </div>
        </div>
    </div>
</form>