<br/>
<div class="row mb-4" >
    <div class="col">
        <button type="submit" class="btn btn-primary form-control">Create</button>
    </div>
    &nbsp;
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control">Back</a>
    </div>
</div>